/* body {
  background-image: url("kopiifolio bg 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
} */

@import url("https://fonts.googleapis.com/css2?family=VT323&family=Courier+Prime&display=swap");

/* :root {
  --titlebar-color: #bcc2fd;
  --titlebar-text-color: #000;
  --titlebar-height: 44px;
  --titlebar-padding: 20px 30px;
  --titlebar-radius: 20px 20px 0 0;
} */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "VT323", monospace;
  /* font-family: "Courier Prime", monospace; */
  margin: 0;
  height: 100%;
}

.grid-bg {
  position: absolute;
  inset: 0;
  background-color: #3a3a6e;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  background-size: 60px 60px;
}

/* taskbar */
.titlebar {
  position: absolute;
  height: 44px;
  background: #2a2a52;
  display: flex;
  align-items: center;
  padding: 0 30px;
  left: 3rem;
  right: 3rem;
  border-radius: 20px 20px 0 0;
  top: 1rem;
  border-bottom: 5px solid #5555aa;
}

.tb-title {
  font-size: 40px;
  letter-spacing: 1px;
  flex: 1;
  color: #e0ddff;
}

.tb-clock {
  font-size: 34px;
  letter-spacing: 1px;
  color: #e0ddff;
}

.kopii-png {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kopii-png img {
  height: 100%;
  width: auto;
  object-position: center bottom;
  margin-left: auto;
  z-index: 10;
}

/* home window */
.home-window {
  position: absolute;
  top: 5rem;
  left: 3rem;
  /* width: 40rem; */
  background: #5050a0;
  z-index: 20;
  border: 5px solid #7070b8;
  border-radius: 4px;
  box-shadow:
    inset 0 0 10px #7070b8,
    0 0 5px #7070b8;
}

.home-tb {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
}

.home-tb-title {
  font-size: 30px;
  letter-spacing: 1px;
  flex: 1;
  color: #e0ddff;
}

.home-content {
  background: #f4f2ff;
  border-top: 1px solid #7070b8;
  padding: 0.5rem 1.5rem 1rem;
}

.home-content-name {
  font-size: 50px;
  padding-bottom: 8px;
  flex: 1;
  color: #000;
}

.home-content-body {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #5050a0;
  font-family: "Courier Prime", monospace;
}

.about-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 25px;
  background: #bcc2fd;
  border: 1px solid #7070b8;
  align-items: center;
  border-radius: 30px;
  width: fit-content;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.about-btn:hover,
.about-cv:hover {
  background: #a0a8f0;
  cursor: pointer;
  color: #3a3a6e;
  transform: scale(1.1);
}

/* folders */
.folders {
  position: absolute;
  left: 3rem;
  top: 21.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  z-index: 30;
  width: 200px;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.folder:hover {
  transform: scale(1.1);
}

.about-btn:active,
.folder:active {
  transform: scale(0.9);
}

.folder-icon {
  position: relative;
  width: 80px;
  height: 60px;
}

.folder-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 12px;
  background: #a0a0e8;
  border: 1.5px solid #7070b8;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.folder-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10px;
  background: #bcc2fd;
  border: 2px solid #7070b8;
  border-radius: 0 4px 6px 6px;
}

.folder:hover .folder-body {
  background: #c8c8ff;
}
.folder:hover .folder-tab {
  background: #b8b8f8;
}

.folder-name {
  font-family: "vt323", monospace;
  font-size: 20px;
  color: #e0ddff;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  line-height: 1.2;
}

/* chat bubble */
.chat-bubble {
  position: absolute;
  top: 5rem;
  right: 15rem;
  background: #f4f2ff;
  border: 2px solid #7070b8;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "vt323", monospace;
  font-size: 30px;
  color: #5050a0;
  cursor: pointer;
  z-index: 20;
  transition: transform 0.1s ease-in-out;
}

.chat-bubble:hover {
  transform: scale(1.05);
  background: #fff;
}
.chat-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 16px;
  border: 5px solid transparent;
  border-top-color: #2a2a52;
}
.chat-bubble::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 17px;
  border: 4px solid transparent;
  border-top-color: #f4f2ff;
  z-index: 1;
}

/* SOCIALS */
.socials {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  right: 50rem;
  height: 5rem;
  /* background: #2a2a52;
  border: 2px solid #5555aa; */
  background: #a0a0e8;
  border: 2px solid #7070b8;
  display: flex;
  border-radius: 20px;
  align-items: center;
  gap: 16px;
  z-index: 20;
  padding: 0 20px;
  width: fit-content;
}

.soc-ico {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "vt323", monospace;
  font-size: 24px;
  color: #e0ddff;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

/* MUSIC PLAYER */
.music-player {
  position: absolute;
  width: 400px;
  background: #c8c8ff;
  border: 2px solid #7070b8;
  border-radius: 20px;
  z-index: 20;
}

.mp-titlebar {
  background: #5050a0;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.mp-title {
  font-family: "vt323", monospace;
  font-size: 24px;
  color: #e0ddff;
  flex: 1;
}

.mp-close {
  font-family: "VT323", monospace;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 1px 5px;
}

.mp-body {
  background: #1a1a3e;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

.mp-track {
  font-family: "vt323", monospace;
  font-size: 26px;
  color: #a0d0ff;
  text-align: center;
  margin-bottom: 10px;
}

.mp-artist {
  font-family: "vt323", monospace;
  font-size: 20px;
  color: #a0d0ff;
  text-align: center;
  margin-bottom: 10px;
}

.mp-progress {
  height: 10px;
  background: #0a0a2e;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.mp-fill {
  height: 100%;
  background: #a0a0e8;
  width: 35%;
  border-radius: 2px;
  transition: width 0.5s linear;
}

.mp-controls {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.mp-btn {
  background: #2a2a5a;
  border: 1px solid #5050a0;
  color: #a0d0ff;
  font-size: 24px;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  font-family: monospace;
  margin-bottom: 10px;
}

/*ABOUT PROFILE POPUP*/
.about-profile {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  background: #f4f2ff;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.about-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ccc;
  flex-shrink: 0;
}

.about-bio {
  font-size: 18px;
  line-height: 1.6;
  color: #1a1a3e;
}

.about-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5rem 1rem;
}

.about-tags {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 14px;
  color: #1a1a3e;
}

.about-cv {
  background: #bcc2fd;
  border: 1px solid #7070b8;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
}

/*RESUME DESIGN*/
.work-list,
.educ-list {
  padding: 0.5rem 1rem 0 1rem;
  margin-bottom: 1rem;
}

.resume-sec-title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(58, 58, 110);
  margin: 12px 0 4px;
  padding: 0rem 0.5rem 0 1.2rem;
}

.resume-card {
  border: 1px solid #c0b8f0;
  border-left: 3px solid #7070b8;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 6px;
  background: #f4f2ff;
  padding: 0.5rem 1.5rem 1rem;
}

.resume-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #5050a0;
  margin-bottom: 2px;
}

.resume-card-sub {
  font-size: 16px;
  font-style: italic;
  color: #444;
  margin-bottom: 2px;
}

.resume-card-date {
  font-size: 16px;
  color: #1a1a3a;
}

.popup-scroll {
  height: 200px;
  overflow-y: scroll;
  padding-right: 10px;
}

.popup-scroll::-webkit-scrollbar {
  width: 12px;
  /* padding-right: 1rem; */
}

.popup-scroll::-webkit-scrollbar-track {
  background: #a0a0e8;
  border-radius: 10px;
}

.popup-scroll::-webkit-scrollbar-thumb {
  background: #7070b8;
  border-radius: 10px;
}

.popup-scroll::-webkit-scrollbar-thumb::hover {
  background: #5050a0;
}

/*POPUPS DESIGN*/
.popup {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 40;
  border-radius: 4px;
  overflow: hidden;
  min-width: 240px;
  max-width: 500px;
  background: #f4f2ff;
  border: 5px solid #7070b8;
  border-radius: 4px;
  box-shadow:
    inset 0 0 10px #7070b8,
    0 0 5px #7070b8;
}

.popup.open {
  display: flex;
}

.popup-bar {
  background: #5050a0;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: move;
}

.popup-close {
  font-family: "vt323", monospace;
  font-size: 14px;
  color: #fff;
  background: #8050a0;
  border: 1px solid #c080d0;
  padding: 0px 6px;
  cursor: pointer;
  border-radius: 2px;
}

.popup-title {
  background: #f4f2ff;
  border-top: 1px solid #7070b8;
  padding: 0.5rem 1.5rem 0;
}

.popup-title h3 {
  font-family: "VT323", monospace;
  font-size: 26px;
  color: #3a3a6e;
  margin-bottom: 6px;
  border-bottom: 2px solid #c080d0;
  padding-bottom: 3px;
}

.popup-body {
  padding: 0.5rem 1.5rem 1rem;
}

.dropdown {
  border: 2px solid #7070b8;
  border-radius: 4px;
  margin-bottom: 6px;
  overflow: hidden;
}

.dropdown-header {
  background: #a0a0e8;
  border: 2px solid #7070b8;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #1a1a3e;
  user-select: none;
}

.dropdown-header:hover {
  background: #b8b8f8;
}

.dropdown-btn {
  transition: transform 0.2s ease;
  display: inline-block;
}

.dropdown-body {
  display: none;
  padding: 10px 12px;
  font-size: 18px;
  color: #1a1a3e;
  background: #f4f2ff;
  /* line-height: 1.8; */
}

.dropdown.open .dropdown-body {
  display: block;
}

.dropdown.open .dropdown-btn {
  transform: rotate(180deg);
}
